* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #5dc2cf;
  color: #fff;
}

h1 {
  margin-top: 5%;
  font-size: 2.3rem;
}

h3 {
  display: flex;
  font-size: 2rem;
  width: 40%;
  text-align: center;
}

button {
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  width: 80px;
  margin: 1rem;
  padding: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

input {
  width: 270px;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
}

p {
  font-size: 1.2rem;
}